# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.cache
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*
notes.txt
keystore-*
src/app/tab1/credentials.json

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
!/dist/package.json
!/dist/cp-angular.js
/functions/dist/app-server
/functions/dist/out-tsc
!/functions/dist/cp-angular.js
/node_modules
/platforms
/plugins
/www
/android
/ios
