ion-content {
  display:flex;
}
.figure { 
  width:calc((100vh - 112px) * 0.575);
  margin:auto;
  --offset-top: auto;
  --offset-bottom: auto;
  position: relative;
  display:flex;
  svg {
    margin:auto;
    display:flex;
    width:100%;
    max-height:100%;
    z-index:1;
  }
  .mark {
    position: absolute;
    width:0;
    margin-left:-1em;
    padding:1em 0 0 7em;
    margin-top:-50px;
    overflow:visible;
    z-index:2;
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    &.flip {
      ion-item {
        margin-left:0;
        margin-right:6em;
        ion-input {
          --padding-start: 1em;
        }
        ion-button {
          &:last-child {
            margin-right:0;
            margin-left:-1.5em;
          }
        }
      }
    }
    * {
      -webkit-user-select: auto !important;
      -khtml-user-select: auto !important;
      -moz-user-select: auto !important;
      -ms-user-select: auto !important;
      user-select: auto !important;
    }
    svg {
      position: absolute;
      width:5em;
      top:50%;
      left:-1em;
      fill:red;
    }
    ion-item {
      width: 7em;
      margin-left:-6em;
      margin-top:-1em;
      border-bottom:solid 1px red;
      ion-input {
        width: 50em;
        margin:0 0 -1.5em 0.5em;
        color:red;
      }
      ion-icon {
        width:4em;
      }
      ion-button {
        width:2em;
        --padding-start: 0;
        --padding-end: 0;
        color:red;
        margin:15px 0 0;
        &:last-child {
          margin-right:-1.5em;
        }
      }
    }
  }
}
