ion-content ion-toolbar {
  --background: translucent;
}
.figure { 
  width:calc((100vh - 112px) * 0.417);
  height:calc(100vh - 112px);
  margin:0 auto;
  position: relative;
  svg {
    display:block;
    width:100%;
    max-height:100%;
    z-index:1;
  }
  .mark {
    position: absolute;
    width:0;
    padding:1vh 0 0 8em;
    margin-top:-50px;
    overflow:visible;
    z-index:2;
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    * {
      -webkit-user-select: auto !important;
      -khtml-user-select: auto !important;
      -moz-user-select: auto !important;
      -ms-user-select: auto !important;
      user-select: auto !important;
    }
    svg {
      position: absolute;
      width:5vh;
      top:50%;
      left:0;
      fill:red;

    }
    ion-item {
      width: 7em;
      margin-left:-7em;
      margin-top:-1vh;
      border-bottom:solid 1px red;
      ion-input {
        width: 50em;
        margin:0 0 -1.5em 0.5em;
        color:red;
      }
      ion-icon {
        width:4em;
      }
      ion-button {
        width:5vh;
        color:red;
        margin:15px -3vh 0 0;
      }
    }
  }
}
