<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Appointments
    </ion-title>
    <ion-buttons slot="end">
      <ion-label color="primary">Upcoming Only</ion-label>
      <ion-button><ion-checkbox checked="true" (ionChange)="checkboxChange($event)"></ion-checkbox></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="appointments.length > 0">
    <ion-item *ngFor="let appt of appointments" (click)="edit(appt.key)">
      <span [innerHTML]="parseDate(appt.datetime)"></span>
      <span>{{appt.title}}</span>{{appt.description}}
    </ion-item>
  </ion-list>
  <div *ngIf="appointments.length === 0" class="empty">
    No upcoming appointments
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addAppointment()" fill="clear"><ion-icon name="add" color="white"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>
