<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Appointments
    </ion-title>
    <ion-buttons slot="end">
      <ion-label color="primary">Upcoming Only</ion-label>
      <ion-button><ion-checkbox checked="true" (ionChange)="checkboxChange($event)"></ion-checkbox></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let appt of (appointments | async)" (click)="edit(appt.key)">
      <span [innerHTML]="parseDate(appt.datetime)"></span>
      <span>{{appt.title}}</span>{{appt.description}}
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addAppointment()" fill="clear"><ion-icon name="add" color="white"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>
